@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
body {
  margin: 0;
  background-color: rgb(220, 220, 220);
  font-family: 'Ubuntu Mono', monospace;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
 border-bottom: 1px solid rgb(220, 220, 220);
  background: black;
  height: 50px;
  position: sticky-top;
}


main {
  border-bottom: 1px solid black;
  background-color: black;
  position: relative;

}

.service {
    height: 150px;
    background-color: transparent;
    color: black;
    border: 1px solid silver;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
}

.service p {
    font-size: 30px;
}

.service button {
    background-color: black;
    color: white;
    border-radius: 12px;
}

.bdp {
  position: absolute;
  top: 100px;
  right: 250px;
  padding: 0px 20px 20px 20px;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  background: rgba(8, 8, 8, 0.432);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(8, 8, 8, 0.3);
}

.bdp h2 {
  color: rgba(255, 254, 254, 0.952);
}

.bdp p {
  color: rgba(233, 238, 241, 0.863);
  font-size: 20px;
}


.streams {
  background-color: rgb(220, 220, 220);
  
  font-weight: 600;
  font-size: 14px;
  height: 85px;

}

.streams h3 {
  padding: 20px;
}

.streams1 {
  background-color: rgb(220, 220, 220);
  font-weight: 600;
  border: solid 0.5px black;
  padding: 20px;
  height: 50px;
  width: 350px;

}

.bdp span {
  color: purple;
  padding-top: 10px;
}
main img {
  width: 100%;
}

.navLinks {
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(220, 220, 220);
}

.navLinks:hover {
  color: white;
  padding: 1em 1em;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid black;
  height: 750px;
}


header h3 {
  border-bottom: solid 1px black;
  font-weight: lighter;
  font-size: 20px;

}

h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.heading1{
  border-right: solid 1px black;
  padding: 5%;
  padding-top: 0%;
  background-color: silver;
  border-bottom: 1px solid black;
}
.heading1 img {
  border-radius: 13px;
  width: 100%;
}
.heading2{
  border-right: solid 1px black;
}



header h3 {
  padding-left: 15px;
  padding-bottom: 10px;

}

.heading3 p {
  padding-top: 250px;
}



footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60px;
}

footer .links {
  padding-top: 20px;
  
}

footer a {
  color: black;
}

.sponsor {
  padding-top: 20px;
}

.extra {
  padding-top: 20px;
}

.of {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.of img {
  width: 100%;
}

.logo {
  grid-column: 3;
  background-image: url("logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 6vh;
}

.contact {

  width: 100%;
  margin-top: 50px;



}

.contact-form {

 


  border: 1px solid var(--secondary-color);
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;

}

.contact-form .input50 {
  width: 100%;

}

.contact-form .input100 {
  width: 100%;
  
}

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #111;
  background: transparent;
  width: 280px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  margin: 10px;

}

.contact-form .row textarea {
  height: 150px;
  padding-right: 10px;
}

.contact-form .row input[type='submit'] {
  background-color: black;
  color: rgb(238, 227, 227);

  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
  width: 300px;
}

.contact-info {
  width: 350px;
  background: transparent;
  padding: 60px 40px 20px;
}

.contact-info .info-box {


  margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
  width: 20px;
  margin-right: 40px;
}

.contact-info .info-box .details h4 {
  color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
  color: #111;
}

@media (max-width: 550px) {
  .heading1 {
    background-color: whitesmoke;
    color: black;
    grid-column: span 3;
    border-bottom: 1px solid silver;
 }

 .heading2 {
  background-color: lightskyblue;
  grid-column: span 3;
}

.heading3 {
  background-color: lightblue;
  grid-column: span 3;
  
}
.bdp {
  display: none;
}
.heading3 p {
  padding-top: 0%;
}

.heading4 {
  
  grid-column: span 3;
  
}

.a{
  display: none;
}

.b{
  display: none;
}

.c{
  display: none;
}

.d{
  display: none;
}

nav {
  border-bottom: none;
}
}  
