/*@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Orbitron:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
.navbar-grid {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: transparent;
    padding: 20px;
    position: sticky-top;
}

details {
    user-select: none;
  }

details>p{
    font-size: 18px;
  }
  
  details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left: auto;
    
  }
  
  details[open] summary span.icon {
    transform: rotate(180deg);
  }
  
  summary {
    display: flex;
    cursor: pointer;
    padding-top: 15px;
    align-items: center;
  }

  
  
  summary::-webkit-details-marker {
    display: none;
  }

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
.logo img {
    height: 80px;
}

.logo {
    padding-right: 250px;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(4, auto);  
}

section {
    background-color: whitesmoke;
    border-bottom: 0.5px solid #21614c;
}
.nav-links a {
    color: #21614c;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
}

header {
    background: linear-gradient(to top left, #ffffff, #a1fabf);
}

body {
   /* font-family: 'Arapey', serif;*/
   /* font-family: 'Lato', sans-serif;*/
    font-family: 'Ovo', serif;
    color: rgb(33, 97, 76);
    margin: 0;
    background-color: whitesmoke;
}


article {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column: 1/2;
   color: rgb(33, 97, 76);
   padding: 33px;
}

.right {
    grid-column: 2/3;
    font-size: 25px;
    margin-right: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right img {
    height: 480px;
}
.left {
    grid-column: 1/2;
    margin-right: 28px;
}

.left h1{
    font-size: 44px;
    padding-bottom: 5px;
}

.left p {
    font-size: 20px;
    font-weight: 400;
}

#services {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    background-color: whitesmoke;
    padding: 28px;
    border-top: 1px solid rgb(33, 97, 76);
   /* border-bottom: 1px solid rgb(33, 97, 76);*/
}

#section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: solid 0.5px #21614c; 
}

.best {
    grid-column: 1/2;
}

.best h1{
    font-size: 24px;
}

.best1 {
    grid-column: 2/3;
}

.best1 img {
    border: none;
    padding-left: 150px;
    height: 380px;
    width: auto;
}

.fa-brands {
    padding: 20px;
    
}

.best p {
    padding: 10px;
}
#section3 p{
    font-size: 18px;
    margin-left: 28px;
}

#section3 li {
    font-size: 20px;
    margin-left: 33px;
    list-style: circle;
}

#section3 ul {
    margin-top: 10px;
}
section h2 {
    font-size: 28px;

}
section h1 {
    font-size: 33px;
    grid-column: 1/2;
    margin-left: 28px;
}

article button {
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color:transparent;
    color: rgb(33, 97, 76);
    font-weight: 600;
    border: solid rgb(33, 97, 76) 1px;
    
}

section img {
   width: 250px;
    height: auto;
    border-radius: 0px;
    border: 0.5px silver solid;
    margin-right: 18px;
   
}

section li {
  font-size: 33px;
  
}

.web {
    padding: 5px;
    display: flex;
    border-bottom: 1px solid silver;
    padding: 15px;
    
}

#mobile {
    border: none;
}

.web img {
    width: 75px;
    border: none;
}

.web a {
    text-decoration: none;
    color: black;
}
section ul {
 list-style: none;
 padding: 0%;
}


.work {
    display: flex;
    overflow: scroll;
    white-space: nowrap;
    padding: 28px;
    margin: 0; /* This will prevent the images from wrapping to the next line */
    
}
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1px;
}



section button {
    width: 100%;
    height: 80px;
    font-size: 48px;
    border: solid 2.5px #50c878;
    border-radius: 28px;

}

.m img {
    height: 330px;
    border: none;

}

footer {
    display: grid;
    place-items: center;
    height: 500px;
    background: black;
}
.connect img{
    width: 24px;
    border: none;
}

footer h1 {
    font-size: 122px;
    color: rgb(42, 127, 98);
    margin-left: 28%;
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: black;
    border-bottom: solid 2px rgb(42, 127, 98);
}

#blog h2 {
    margin-left: 28px;
    border-bottom: 2px solid #21614c;
    padding-bottom: 10px;
}
  
#blog {
    background-color: #67caa9;
    border-top: 2px solid #21614c;
}
.marquee p {
    font-weight: bold;
    font-size: 33px;
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(42, 127, 98);
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}


@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
  }
  
  @-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
  }
  
  @keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
  }
  

footer a {
    font-size: 30px;
    display: grid;
	justify-content: center;
	align-items: center;

}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #21614c;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #21614c;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #21614c;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #21614c;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #21614c;
  }
  

  #form {
    display: grid;
    place-items: center;
    position: relative;
    width: 420px;
    margin: 50px auto 100px auto;
    
  }

 .formtitle {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 330px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #21614c;
    
    border: solid 1px #21614c;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: aliceblue;
    color: #e2dedb;
  }
  
  textarea {
    width: 420px;
    max-width: 330px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #21614c;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #21614c;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: al;
    color: aliceblue;
  }
  
  #submit {
    width: 362px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #21614c;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #21614c;
    border-top: none;
  }
  
  #submit:hover {
    color: aliceblue;
  }


.nav-bar{
    height: 70px;
    background: transparent;
}

.brand{
    float: left;
   
   
    padding-top:20px;
    line-height: 70px;
    font-size: 1.5em;
}


.brand img {
    height: 65px;
}

.nav-container{
    max-width: 1000px;
    margin: 0 auto;
}

nav{
    float: right;
}

nav ul{
    list-style: none;
}

nav ul li{
    float: left;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: transparent;
    text-decoration: none;
    color: #21614c;
}

nav ul li a:hover{
    background: #50c878;
    color: #21614c;
}

nav ul li a:not(:only-child):after{
    content: '▼';
    padding-left: 5px;
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a{
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown{
    position: absolute;
    display: none;
    z-index: 1;
}

.nav-mobile{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
}

#nav-toggle{
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 15px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after{
    position: absolute;
    display: block;
    content: '';
    background: #21614c;
    height: 5px;
    width: 35px;
    transition: all 300ms ease-in-out;
}

#nav-toggle span::before{
    top: -10px;
}

#nav-toggle span::after{
    bottom: -10px;
}

#nav-toggle.active span{
    background-color: transparent;
}

#nav-toggle.active span::before, #nav-toggle.active span::after{
    top: 0;
}

#nav-toggle.active span::before{
    transform: rotate(45deg);
}

#nav-toggle.active span::after{
    transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {

    .nav-mobile{
        display: block;
    }

    nav{
        width: 100%;
        padding: 70px 0 15px;
    }

    nav ul{
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a{
        padding: 15px;
        line-height: 20px;
        padding-left: 25%;
    }


    nav ul li ul li a{
        padding-left: 30%;
    }

    .nav-dropdown{
        position: static;
    }

    
.brand img {
    margin-left: 20px;
    margin-top: 0px;
}

}

@media screen and (min-width: 799px){
    .nav-list{
        display: block !important;
    }
}

@media (max-width: 550px) {
    .left{
        
        grid-column: span 3;
    }

    .left h1 {
        font-size: 39px;
    }

    .right{
        
        grid-column: span 3;
    }

    .right img {
        height: 330px;
    }

    .nav-links {
        display: none;
    }

    #services h2{
        font-size: 25px;
        grid-column: span 3;
    }

    #services {
        grid-template-columns: 1fr;
        background-color: whitesmoke;
    }

    .web{
        grid-column: span 3;
    }

    .web img {
        height: 60px;
        width: 60px;
    }

    .web p {
       font-size: 18px;
    }

    .web li {
        font-size: 28px;
    }

    section li {
        width: 100%;
    }

    .best {
        grid-column: span 3;
        height: 400px;
        padding-left: 20px;
    }

    .best h1 {
        margin-left:0px;
    }

    .best1  {
        grid-column: span 3;
    }

    .best1 img {
        height: 330px;
        padding-left: 80px;
    }

#section3 li{
    margin-left: 3px;
}

#section3 p {
    background: transparent;
    margin-left: 3px;
} 

summary {
    font-size: 24px;
}

}
