@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

.info {
    padding: 10px;
    font-size: 100px;
    margin-top: 150px;
    font-weight: 400; 
    text-align: center;
    font-family: 'Lacquer', cursive;
}

body {
    background-color: rgb(247, 76, 8);
}

button {
    background-color: black;
    color: white;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 25px;
    height: 50px;
    width: 200px;
}

@media only screen and (max-width: 600px) {
    body {
      margin: auto;
    }
   
    .info {
      padding: 0px;
      font-size: 75px;
  }
}